<li class="task-list__item">
  <div class="task назва-категорії">
      <div class="task__head">
          <div class="task__check">
              <input
                  class="sr-only checkbox-input"
                  type="checkbox"
                  name="task[id завдання]"
                  id="task[id завдання]"
              >
              <label for="task[id завдання]" class="task__checkbox checkbox"></label>
              <div class="task__name">Текст завдання</div>
          </div>
          <div class="task__actions">
              <button class="btn btn--icon btn--red task__btn task__btn--remove " type="button" title="Видалити"></button>
          </div>
      </div>
      <div class="task__info">
          <div class="task__category" title="назва категорії"></div>
          <div class="task__date">Час до завершення</div>
      </div>
  </div>
</li>
